@import "variables";
//reset style
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body,
html {
    width: 100%;
    background: url("../images/login-bg.png") no-repeat;
    background-size: 100vw 100vh;
}

.container {
    margin: 0 auto;
    max-width: 768px;
}

html {
    scroll-behavior: smooth;
    font-family: Poppins-regular, sans-serif;
}

h1 {
    font-family: myriad-pro, sans-serif;
}

button,
input,
textarea,
select {
    outline: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.block {
    display: grid;
}

.bold {
    font-weight: bold;
}

.wrapper {
    background-color: #fafafa;
    .container {
        display: grid;
        grid-template-rows: max-content max-content;
        grid-gap: 17px;
    }
}

.home-wrapper {
    grid-template-rows: repeat(3, max-content);
    grid-gap: 17px;
}