.sacB-wrapper {
    border-width: 1px;
    border-color: rgb(232, 232, 232);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    padding: 24px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    .B-left-wrapper {
        border-right: 1px solid rgb(232, 232, 232);
        padding: 0 24px;
        display: grid;
        grid-template-rows: repeat(2, max-content);
        grid-gap: 24px;
        p {
            font-size: 14px;
            color: white;
        }
        h2 {
            font-size: 14px;
            font-weight: bold;
            color: white;
        }
        .left-div1,
        .left-div2,
        .left-div3 {
            border-width: 1px;
            border-color: rgb(232, 232, 232);
            border-style: solid;
            border-radius: 8px;
            width: 334px;
            height: 118px;
            padding: 45px 15px 18px;
            display: grid;
            align-items: end;
        }
        .left-div1 {
            background: url('../images/left-div1-B.png') no-repeat;
            background-size: cover;
            background-position: center;
        }
        .left-div2 {
            background: url('../images/left-div2-B.png') no-repeat;
            background-size: cover;
            background-position: center;
        }
        .left-div3 {
            background: url('../images/left-div3-B.png') no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    .B-right-wrapper {
        padding: 0 24px;
        display: grid;
        grid-template-rows: repeat(2, max-content);
        grid-gap: 24px;
        p {
            font-size: 14px;
            color: white;
        }
        h2 {
            font-size: 14px;
            font-weight: bold;
            color: white;
        }
        .right-div1,
        .right-div2,
        .right-div3 {
            border-width: 1px;
            border-color: rgb(232, 232, 232);
            border-style: solid;
            border-radius: 8px;
            width: 334px;
            height: 118px;
            padding: 45px 15px 18px;
            display: grid;
            align-items: end;
        }
        .right-div1 {
            background: url('../images/right-div1-B.png') no-repeat;
            background-size: cover;
            background-position: center;
        }
        .right-div2 {
            background: url('../images/right-div2-B.png') no-repeat;
            background-size: cover;
            background-position: center;
        }
        .right-div3 {
            background: url('../images/right-div3-B.png') no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}